body{
background:#0b0f19;
color:white;
font-family:Arial;
margin:0;
}

.sidebar{
width:220px;
height:100vh;
background:#111827;
position:fixed;
padding:20px;
}

.sidebar a{
display:block;
color:#9ca3af;
margin:10px 0;
text-decoration:none;
}

.main{
margin-left:240px;
padding:30px;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:#1f2937;
padding:20px;
border-radius:10px;
width:200px;
}

.loginBox{
width:300px;
margin:150px auto;
display:flex;
flex-direction:column;
gap:10px;
}

input{
padding:8px;
border-radius:5px;
border:none;
}

button{
background:#2563eb;
border:none;
padding:10px;
color:white;
border-radius:6px;
cursor:pointer;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

td,th{
padding:10px;
border-bottom:1px solid #374151;
}